{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
    "rules": {
      "quotes": ["warn", "single"], // advertencia en comillas dobles
      "semi": ["warn", "always"], // advertencia si olvidamos ; al final
      "@typescript-eslint/no-unused-vars": "off", //para que ignore el supuesto de definir algo y no usarlo
      "max-len": ["error", { "code": 100, "ignoreComments": true }] // máximo de 100 caracteres por línea. Podría haber más reglas (no premitir variables any...)
    }
  }
  